body {
	width: 100%;
	height: 100%;
}
.button1{
	font-family: 'Times New Roman';
	font-size: 50px;
	text-decoration: none;
	padding: 0% 1% 0% 1%;
	margin: 20% 0% 0% 25%;
	position: absolute;
	color: #131315;
    background-color: #f8f4cf;

}

.button1:hover {
    color: #fe8745;
    background-color: none;
}
.button2{
	font-family: 'Times New Roman';
	font-size: 50px;
	text-decoration: none;
	padding: 0% 1% 0% 1%;
	margin: 20% 0% 0% 50%;
	color: #131315;
    background-color: #f8f4cf;
    position: absolute;
}

.button2:hover {
    color: #fe8745;
    background-color: none;
}