body, html{
	height: 100%;
	width: 100%;
	margin: 0%;
	background: #f8f4cf
}

.header{
	background-color: #fe8745;
	width: 100%;
	height: 150px;
	/*border-style: solid;
	border-color: transparent;*/
} 

.content-header{
	width: 100%;
	height: 150px;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	/*border-style: solid;
	border-color: transparent;*/
}
.logo{
	border-style: solid;
	border-color: transparent;
	width: 40%;
	margin: 0% 0% 0% 30%;
    padding: 0% 0% 0% 0%;
}
.logo-header{
	margin: -11% 0% 0% 25%;
    padding: 0% 0% 0% 0%;
    border-style: solid;
    border-color: transparent;
    display: flex;
}

.name1{
	font-family: 'Times New Roman';
	font-size: 150%;
	margin: 6% 0% 0% 2.5%;
	padding: 0% 0% 0% 0%;
	width: 19.5%;
	color: #131315;
	border-style: solid;
	border-color: transparent;
}

.name2{
	font-family: 'Times New Roman';
	font-size: 150%;
	margin: -9% 0% 0% 45%;
	padding: 0% 0% 0% 0%;
	width: 54%;
	color: #131315;
	border-style: solid;
	border-color: transparent;
}

.social{
	border-style: solid;
	border-color: transparent;
	margin: -4.2% 0% 0% 89%;
	padding: 0% 0% 0% 0%;
	width: 10%;
}

.fb{
	border-style: solid;
	border-color: transparent;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	display: inline-flex;
}

.ig{
	border-style: solid;
	border-color: transparent;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	display: inline-flex;
}

.tw{
	border-style: solid;
	border-color: transparent;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	display: inline-flex;
}

.yt{
	border-style: solid;
	border-color: transparent;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	display: inline-flex;
}

.menu{
	/*border-style: solid;
	border-color: transparent;*/
	width: 100%;
	height: 45px;
	background-color: #131315;

}

.content-menu{
	border-style: solid;
	border-color: transparent;
	width: 40%;
	margin: 0% 0% 0% 32%;
	padding: 0% 0% 0% 0%;

}

.tabla{
	border-style: solid;
	border-color: transparent;
	width: 100%;
}

.tabla-footer{
	border-style: solid;
	border-color: transparent;
	width: 100%;
}

.tabla2{
	border-style: solid;
	border-color: transparent;
	width: 100%;
}

.opt{
	font-family: 'Times New Roman';
	font-size: 110%;
	margin: 0% 2% 0% 0%;
	padding: 0% 0% 0% 0%;
	border-style: solid;
	border-color: transparent;
	color: #f8f4cf;
	display: inline-block;
}

.opt1{
	font-family: 'Times New Roman';
	font-size: 110%;
	margin: -8% 2% 0% 10%;
	padding: 0% 0% 0% 0%;
	border-style: solid;
	border-color: transparent;
	color: #f8f4cf;
	display: inline-block;
}

.opt2{
	font-family: 'Times New Roman';
	font-size: 110%;
	margin: -8% 2% 0% 5%;
	padding: 0% 0% 0% 0%;
	border-style: solid;
	border-color: transparent;
	color: #f8f4cf;
	display: inline-block;
}

.opt3{
	font-family: 'Times New Roman';
	font-size: 110%;
	margin: -8% 2% 0% 5%;
	padding: 0% 0% 0% 0%;
	border-style: solid;
	border-color: transparent;
	color: #f8f4cf;
	display: inline-block;
}

.opt4{
	font-family: 'Times New Roman';
	font-size: 110%;
	margin: -8% 2% 0% 5%;
	padding: 0% 0% 0% 0%;
	border-style: solid;
	border-color: transparent;
	color: #f8f4cf;
	display: inline-block;
}

.opt5{
	font-family: 'Times New Roman';
	font-size: 110%;
	margin: 9% 2% 0% -75%;
	padding: 0% 0% 0% 0%;
	border-style: solid;
	border-color: transparent;
	color: #f8f4cf;
	display: inline-block;
}

.opt6{
	font-family: 'Times New Roman';
	font-size: 110%;
	margin: 9% 0% 0% 4%;
	padding: 0% 0% 0% 0%;
	border-style: solid;
	border-color: transparent;
	color: #f8f4cf;
	display: inline-block;
}

.opt7{
	font-family: 'Times New Roman';
	font-size: 110%;
	margin: -9% 0% 0% 63%;
	padding: 0% 0% 0% 0%;
	border-style: solid;
	border-color: transparent;
	color: #f8f4cf;
	display: inline-block;
}

.button {
	text-decoration: none;
	color: #f8f4cf;
    background-color: none;
 	
}

 .button:hover {
    color: #fe8745;
    background-color: none;

}
.banner{
	/*border-style: solid;
	border-color: transparent;*/
	display: block;
	height: 95%;

}

.content-banner{
	/*border-style: solid;
	border-color: transparent;*/
	height: 99%;

}
.dog{
	/*border-style: solid;
	border-color: transparent;*/
	width: 100%;

}
/*.img{
	z-index: 2;
}


.sale{
	border-style: solid;
	border-color: blue;
	margin: -48% 0% 0% 1.5%;
	padding: 0% 0% 0% 0%;
	width: 22%;
	height: 101.5%;
	display: flex;
	z-index: 0;
	background-color: #131315;

}

.sale-info{
	border-style: solid;
	border-color: red;
	margin: -40% 0% 0% 1.5%;
	padding: 0% 0% 0% 0%;
	display: flex;
	width: 22%;

	z-index: 2;
}

.sale-promo{
	/*margin: 0% 0% 0% 15%;
	padding: 0% 0% 0% 0%;
	color: red;*/
	/*border-style: solid;
	border-color: green;
	font-family: 'Times New Roman';
	font-size: 450%;
	color: #f8f4cf;
	position: absolute;
	z-index: 2;
    top: 22%;
    left: 2.4%;
}
*/

.presentacion{
	/*border-style: dashed;
	border-color: transparent;*/
	margin: 0% 0% 0% 1%;
	padding: 0% 0% 0% 0%;
	width: 50%;
	display: block;

}

.hotel{
	border-style: solid;
	border-color: #131315;
	border-top: none;
	border-left: none;
	border-right: none;
	border-width: 0.01px;
	font-family: 'Times New Roman';
	font-size: 250%;
	color: #131315;
	margin: 0% 0% 0% 0%;
	padding: 5% 0% 4% 0%;

}

.hotel-info{
	border-style: solid;
	border-color: transparent;
	font-family: 'Times New Roman';
	font-size: 125%;
	margin: 2% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	color: #131315;
}

.hotel-info2{
	border-style: solid;
	border-color: transparent;
	font-family: 'Times New Roman';
	font-size: 125%;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	color: #131315;
}

.ubicacion{
	/*border-style: dashed;
	border-color: transparent;*/
	margin: -24.4% 0% 0% 52%;
	padding: 0% 0% 0% 0%;
	width: 47%;
	display: block;


}

.titulo1{
	border-style: solid;
	border-color: #131315;
	border-top: none;
	border-left: none;
	border-right: none;
	border-width: 0.01px;
	font-family: 'Times New Roman';
	font-size: 250%;
	color: #131315;
	margin: 0% 0% 0% 0%;
	padding: 5% 0% 4.4% 0%;
}

.geo{
	margin: 1% 0% 0% 52%;
	padding: 0% 0% 0% 0%;
	border-style: solid;
	border-color: transparent;
	width: 47%;
	height: 300px;
}

.conociendo{
	/*border-style: dashed;
	border-color: transparent;*/
	margin: 0% 0% 0% 1%;
	padding: 0% 0% 0% 0%;
	width: 98%;

}

.titulo2{
	border-style: solid;
	border-color: #131315;
	border-top: none;
	border-left: none;
	border-right: none;
	border-width: 0.01px;
	font-family: 'Times New Roman';
	font-size: 250%;
	color: #131315;
	margin: 0% 0% 0% 0%;
	padding: 3% 0% 2.3% 0%;
}

.rooms{
	margin: 1% 0% 0% 0%;
	padding: 0%;
	border-style: dotted;
	border-color: transparent;
}

.rooms2{
	margin: 1% 0% 0% 0%;
	padding: 0%;
	border-style: dotted;
	border-color: transparent;

}

.rooms3{
	margin: 1% 0% 0% 0%;
	padding: 0%;
	border-style: dotted;
	border-color: transparent;

}

.img{
	margin: 0% 0% 0% 1%;
	padding: 0%;
}

.img2{
	margin: 1% 0% 0% 0%;
	padding: 0%;
}

.img3-0{
	margin: 0% 0% 1% 9.5%;
	padding: 0%;
}

.img3-1{
	margin: 0% 0% 0% 9.5%;
	padding: 0%;
}



.footer{
	background-color: #131315;
	width: 100%;
	height: 200px;
	/*border-style: solid;
	border-color: transparent;*/
	margin: 3% 0% 0% 0%;
	padding: 0%;
}

.content-footer{
	/*border-style: solid;
	border-color: transparent;*/
	width: 40%;
	height: 197px;
	margin: 0% 0% 0% 32%;
	padding: 0% 0% 0% 0%;
}

.opt1-footer{
	font-family: 'Times New Roman';
	font-size: 110%;
	margin: 15% 0% 0% 60%;
	padding: 0% 0% 0% 0%;
	border-style: solid;
	border-color: transparent;
	width: 40%;
	color: #f8f4cf;
	display: inline-block;
}

.opt2-footer{
	font-family: 'Times New Roman';
	font-size: 110%;
	margin: 10% 0% 0% 23%;
	padding: 0% 0% 0% 0%;
	border-style: solid;
	border-color: transparent;
	color: #f8f4cf;
	display: inline-block;
}

.opt3-footer{
	font-family: 'Times New Roman';
	font-size: 110%;
	margin: 15% 0% 0% -19%;
	padding: 0% 0% 0% 0%;
	border-style: solid;
	border-color: transparent;
	color: #f8f4cf;
	display: inline-block;
}

.opt4-footer{
	font-family: 'Times New Roman';
	font-size: 110%;
	margin: 15% 0% 0% -45%;
	padding: 0% 0% 0% 0%;
	border-style: solid;
	border-color: transparent;
	color: #f8f4cf;
	display: inline-block;
}

.footer-info1{
	font-family: 'Times New Roman';
	border-style: solid;
	border-color: transparent;
	margin: 2% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	color: white;
}

.footer-info2{
	font-family: 'Times New Roman';
	border-style: solid;
	border-color: transparent;
	margin: 1% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	color: white;
}

.footer-info3{
	font-family: 'Times New Roman';
	border-style: solid;
	border-color: transparent;
	margin: 2.8% 0% 0% 0%;
	padding: 0% 0% 0% 23.2%;

	color: white;
}

.footer-mail{
	text-decoration: none;
	color: #fe8745;
}
/*Termina pagina*/
/*Comienzan media queries*/
@media screen and (max-width: 5000px) {
	body, html {
	/*background-color: transparent;*/
}

.rooms2{
	display: none;
}

.rooms3{
	display: none;
}

.tabla2{
	display: none;
}
}

@media screen and (max-width: 1912px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -24.6% 0% 0% 52%;
}
}

@media screen and (max-width: 1886px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -24.8% 0% 0% 52%;
}
}

@media screen and (max-width: 1874px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -24.9% 0% 0% 52%;
}
.rooms{
	display: none;
}

.rooms2{
	display: block;
}
}

@media screen and (max-width: 1866px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -26.2% 0% 0% 52%;
}

.geo{
	height: 320px;
}
}

@media screen and (max-width: 1855px) {
body, html {
	/*background-color: transparent;*/
}
.ubicacion{
	margin: -27.65% 0% 0% 52%;
}

.geo{
	height: 347px;
}
}

@media screen and (max-width: 1815px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -28.3% 0% 0% 52%;
}

.opt1-footer{
	width: 50%;
}
}

@media screen and (max-width: 1764px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -28.8% 0% 0% 52%;
}

.rooms2{
	display: none;
}

.rooms3{
	display: inline-block;
}

.name1{
	width: 30%;
}

.name2{
	margin: -10.4% 0% 0% 45%;
	width: 60%;
}

.logo-header{
    width: 18%;
}
}

@media screen and (max-width: 1717px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -29.5% 0% 0% 52%;
}

.name2{
	margin: -10.7% 0% 0% 45%;
	width: 60%;
}
}

@media screen and (max-width: 1683px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -30% 0% 0% 52%;
}
}

@media screen and (max-width: 1647px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -30.5% 0% 0% 52%;
}

.name2{
	margin: -11.2% 0% 0% 45%;
}
}

@media screen and (max-width: 1629px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -32.2% 0% 0% 52%;
}

.geo{
	height: 370px;
}
}

@media screen and (max-width: 1599px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -32.7% 0% 0% 52%;
}

.logo{
	margin: 0% 0% 0% 25%;
}

.name2{
	margin: -11.5% 0% 0% 45%;
}

.content-menu{
	margin: 0% 0% 0% 27%;
}
}

@media screen and (max-width: 1589px) {
body, html {
	/*background-color: transparent;*/
}

.logo{
	margin: 0% 0% 0% 25%;
	width: 50%;
	height: 120px;
}

.logo-header{
    width: 16%;
    margin: -10% 0% 0% 25%;
}

.name1{
	font-size: 140%;
	margin: 6% 0% 0% 6%;
}

.name2{
	font-size: 140%;
	margin: -8.6% 0% 0% 44%;
	width: 55%;
}
}

@media screen and (max-width: 1549px) {
body, html {
	/*background-color: transparent;*/
}

.logo{
	margin: 0% 0% 0% 20%;
	width: 50%;
	height: 120px;
}

.content-menu{
	margin: 0% 0% 0% 24%;
	width: 45%;
}

.ubicacion{
	margin: -33.7% 0% 0% 52%;
}
}

@media screen and (max-width: 1515px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -35.8% 0% 0% 52%;
}

.geo{
	height: 390px;
}
}

@media screen and (max-width: 1498px) {
body, html {
	/*background-color: transparent;*/
}

.name1{
	font-size: 140%;
	margin: 6% 0% 0% 5%;
}

.name2{
	font-size: 140%;
	margin: -9.1% 0% 0% 44%;
	width: 55%;
}

.ubicacion{
	margin: -37.7% 0% 0% 52%;
}

.geo{
	height: 415px;
}
}

@media screen and (max-width: 1495px) {
body, html {
	/*background-color: transparent;*/
}

.social{
	margin: -5% 0% 0% 89%;
}

.ubicacion{
	margin: -39.3% 0% 0% 52%;
}

.opt1-footer{
	margin: 15% 0% 0% 60%;
	width: 70%;
}

.opt2-footer{
	margin: 10% 0% 0% 23%;
	width: 70%;
}

.opt3-footer{
	margin: 15% 0% 0% -19%;
	width: 70%;
}

.opt4-footer{
	margin: 15% 0% 0% -45%;
	width: 70%;
}
}

@media screen and (max-width: 1389px) {
body, html {
	/*background-color: transparent;*/
}

.logo-header{
    width: 18%;
    margin: -11.5% 0% 0% 25%;
}
.name1{
	font-size: 140%;
	margin: 6% 0% 0% 3%;
}

.name2{
	font-size: 140%;
	margin: -9.8% 0% 0% 46%;
	width: 55%;
}

.social{
	margin: -5.5% 0% 0% 87%;
}

.content-menu{
	margin: 0% 0% 0% 23%;
	width: 50%;
}

.ubicacion{
	margin: -40.5% 0% 0% 52%;
}

.opt1-footer{
	margin: 15% 0% 0% 40%;
	width: 70%;
}

.opt2-footer{
	margin: 10% 0% 0% 6%;
	width: 70%;
}

.opt3-footer{
	margin: 15% 0% 0% -36%;
	width: 70%;
}

.opt4-footer{
	margin: 15% 0% 0% -68%;
	width: 70%;
}

.footer-info3{
	padding: 0% 0% 0% 12%;
}
}

@media screen and (max-width: 1369px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -42.7% 0% 0% 52%;
}
}

@media screen and (max-width: 1330px) {
body, html {
	/*background-color: transparent;*/
}

.name2{
	margin: -10% 0% 0% 46%;
	width: 70%;
}

.ubicacion{
	margin: -43.7% 0% 0% 52%;
}

.geo{
	height: 440px;
}

.opt1-footer{
	margin: 15% 0% 0% 20%;
	width: 70%;
}

.opt2-footer{
	margin: 10% 0% 0% 10%;
	width: 70%;
}

.opt3-footer{
	margin: 14.5% 0% 0% 0%;
	width: 70%;
}

.opt4-footer{
	margin: 15% 0% 0% -2%;
	width: 70%;
}
}

@media screen and (max-width: 1301px) {
body, html {
	/*background-color: transparent;*/
}

.social{
	margin: -6% 0% 0% 85%;
	width: 13%;
}

.ubicacion{
	margin: -44.5% 0% 0% 52%;
}
}

@media screen and (max-width: 1290px) {
body, html {
	/*background-color: transparent;*/
}

.name1{
	margin: 6% 0% 0% 2%;
}

.name2{
	margin: -10.5% 0% 0% 46%;
	width: 70%;
}
}

@media screen and (max-width: 1263px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -47.6% 0% 0% 52%;
}

}

@media screen and (max-width: 1242px) {
body, html {
	/*background-color: transparent;*/
}

.name1{
	margin: 6% 0% 0% 1%;
}

.ubicacion{
	margin: -50% 0% 0% 52%;
}

.content-menu{
	width: 70%;
	margin: 0% 0% 0% 20%;
}

.geo{
	height: 480px;
}

.footer-info3{
	margin: 6% 0% 0% 0%;
	padding: 0% 0% 0% 10%;
}
}

@media screen and (max-width: 1242px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -50% 0% 0% 52%;
}

.logo-header{
	width: 20%;
}

.name1{
	margin: 6% 0% 0% 2%;
	font-size: 130%;
}

.name2{
	margin: -12% 0% 0% 46%;
	font-size: 130%;
	width: 70%;
}

.social{
	margin: -7% 0% 0% 85%;
}
}

@media screen and (max-width: 1206px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -51.5% 0% 0% 52%;
}
}

@media screen and (max-width: 1166px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -55.2% 0% 0% 52%;
}

.geo{
	height: 510px;
}

.logo{
	margin: 0% 0% 0% 15%;
	width: 55%;
}

.logo-header{
	margin: -11% 0% 0% 25%;
}
.name1{
	margin: 6% 0% 0% 0%;
}

.name2{
	margin: -11% 0% 0% 50%;
	width: 60%;
}
.social{
	margin: -7.1% 0% 0% 83%;
	width: 15%;
}

.content-menu{
	margin: 0% 0% 0% 15%;
}
}

@media screen and (max-width: 1107px) {
body, html {
	/*background-color: transparent;*/
}

.name2{
	margin: -12% 0% 0% 50%;
	width: 60%;
}

.social{
	margin: -7.5% 0% 0% 83%;
	width: 15%;
}

.ubicacion{
	margin: -59.9% 0% 0% 52%;
}

.geo{
	height: 530px;
}

.footer-info3{
	margin: 7% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	text-align: center;
}
}

@media screen and (max-width: 1072px) {
body, html {
	/*background-color: transparent;*/
}

.ubicacion{
	margin: -64% 0% 0% 52%;
}

.geo{
	height: 555px;
}

.logo-header{
	margin: -14% 0% 0% 25%;
	width: 25%;
}

.name2{
	margin: -12.5% 0% 0% 55%;
	width: 60%;
}

.opt1-footer{
	margin: 15% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	width: 100%;
}

.opt2-footer{
	margin: 10% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	width: 100%;
}

.opt3-footer{
	margin: 15% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	width: 100%;
}

.opt4-footer{
	margin: 14% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	width: 100%;
}
}

@media screen and (max-width: 1053px) {
body, html {
	/*background-color: transparent;*/
}

.presentacion{
	margin: 0% 1% 0% 1%;
	padding: 0% 0% 0% 0%;
	width: 98%;
	display: inline-block;

}

.ubicacion{
	margin: 0% 1% 0% 1%;
	padding: 0% 0% 0% 0%;
	width: 98%;
	display: inline-block;
}

.geo{
	margin: 1% 0% 0% 11%;
	padding: 0% 0% 0% 0%;
	width: 77%;
	height: 500px;
	display: inline-block;
}

.content-footer{
	width: 50%;
	height: 197px;
	margin: 0% 0% 0% 25%;
	padding: 0% 0% 0% 0%;
}

.footer-info3{
	margin: 5% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	text-align: center;
}
}

@media screen and (max-width: 1008px) {
body, html {
	/*background-color: red;*/
}

.logo{
	margin: 0% 0% 0% 10%;
	width: 55%;
}
.name1{
	margin: 6% 0% 0% 0%;
		font-size: 120%;
}

.name2{
	margin: -12.5% 0% 0% 54%;
	width: 60%;
	font-size: 120%;
}

.logo-header{
	margin: -13% 0% 0% 25%;
	width: 23%;
}

.social{
	border-style: solid;
	border-color: transparent;
	margin: -8.7% 0% 0% 82%;
	padding: 0% 0% 0% 0%;
}

.content-menu{
	margin: 0% 0% 0% 10%;
	padding: 0% 0% 0% 0%;

}

.banner{
	height: 85%;

}
.dog{
	height: 733px;
}
}

@media screen and (max-width: 933px) {
body, html {
	/*background-color: green;*/
}

.logo{
	width: 70%;
	margin: 0% 0% 0% 10%;
    padding: 0% 0% 0% 0%;
}
.logo-header{
	margin: -10.8% 0% 0% 20%;
    padding: 0% 0% 0% 0%;
    width: 20%;
}
.name2{
	margin: -11% 0% 0% 43%;
	padding: 0% 0% 0% 0%;
	width: 54%;
}

.geo{
	margin: 1% 0% 0% 7%;
	padding: 0% 0% 0% 0%;
	width: 86%;
	height: 500px;
}

.img3-0{
	margin: 0% 0% 1% 5.5%;
	padding: 0%;
	width: 88.5%;
}

.img3-1{
	margin: 0% 0% 0% 5.5%;
	padding: 0%;
	width: 88.5%;
}

.banner{
	height: 80%;

}
.dog{
	height: 688px;
}
}

@media screen and (max-width: 891px) {
body, html {
	/*background-color: violet;*/
}

.logo{
	width: 75%;
	margin: 0% 0% 0% 5%;
    padding: 0% 0% 0% 0%;
}
.logo-header{
	margin: -10.8% 0% 0% 20%;
    padding: 0% 0% 0% 0%;
    width: 20%;
}

.content-menu{
	width: 90%;
	margin: 0% 0% 0% 7%;
	padding: 0% 0% 0% 0%;
}

.name2{
	margin: -10.5% 0% 0% 43%;
	padding: 0% 0% 0% 0%;
	width: 54%;
}

.footer{
	height: 210px;
}

.content-footer{
	width: 70%;
	height: 205px;
	margin: 0% 0% 0% 15%;
}

.banner{
	height: 75%;

}
.dog{
	height: 645px;
}
}

@media screen and (max-width: 873px) {
body, html {
	/*background-color: blue;*/
}

.logo{
	width: 75%;
	margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}

.social{
	margin: -8.7% 0% 0% 80%;
	padding: 0% 0% 0% 0%;
	width: 17%;
}
.content-menu{
	width: 90%;
	margin: 0% 0% 0% 2%;
	padding: 0% 0% 0% 0%;
}
.name2{
	margin: -11% 0% 0% 43%;
	padding: 0% 0% 0% 0%;
	width: 54%;
}

.geo{
	margin: 1% 0% 0% 3%;
	padding: 0% 0% 0% 0%;
	width: 95%;
	height: 500px;
}
.img3-0{
	margin: 0% 0% 1% 3%;
	padding: 0%;
	width: 95%;
}

.img3-1{
	margin: 0% 0% 0% 3%;
	padding: 0%;
	width: 95%;
}

.banner{
	height: 72%;

}
.dog{
	height: 620px;
}
}

@media screen and (max-width: 789px) {
body, html {
	/*background-color: transparent;*/
}

.social{
	margin: -10.5% 0% 0% 80%;
}

.name1{
	font-size: 110%;
	margin: 6% 0% 0% 0%;
	width: 19.5%;
}

.name2{
	font-size: 110%;
	margin: -11% 0% 0% 43%;
}

.social{
	margin: -10.5% 0% 0% 80%;
}

.banner{
	height: 70%;

}
.dog{
	height: 600px;
}
}


@media screen and (max-width: 772px) {
body, html {
	/*background-color: transparent;*/
}

.logo{
	width: 100%;
	margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}

.logo-header{
	margin: -11% 0% 0% 21.5%;
	width: 20%;

}


.social{
	margin: -16% 0% 0% 75%;
	width: 20%;
}

.name1{
	font-size: 110%;
	margin: 6% 0% 0% 0%;
	width: 19.5%;
}

.name2{
	font-size: 110%;
	margin: -9% 0% 0% 43%;
}

.banner{
	height: 65%;

}
.dog{
	height: 560px;
}
}

@media screen and (max-width: 733px) {
body, html {
	/*background-color: transparent;*/
}
.social{
	margin: -16.8% 0% 0% 75%;
	width: 20%;
}

.banner{
	height: 58%;

}
.dog{
	height: 500px;
}
}

@media screen and (max-width: 700px) {
body, html {
	/*background-color: transparent;*/
}

.social{
	margin: -18% 0% 0% 75%;
	width: 20%;
}

.logo-header{
	margin: -10.5% 0% 0% 18%;
	width: 18%;
}

.name1{
	margin: 7% 0% 0% 0%;
}

.name2{
	margin: -9.5% 0% 0% 40%;
}

.content-menu{
	width: 100%;
	margin: 0%;
}
}

@media screen and (max-width: 658px) {
body, html {
	/*background-color: transparent;*/
}

.social{
	margin: -19% 0% 0% 71%;
	width: 23%;
}

.logo-header{
	margin: -10.5% 0% 0% 18.5%;
}

.name2{
	margin: -9.5% 0% 0% 40%;
}
}

@media screen and (max-width: 629px) {
body, html {
	/*background-color: transparent;
}

.social{
	margin: -20% 0% 0% 71%;
	width: 23%;
}

.name1{
	margin: 9% 0% 0% 0%;
}

.name2{
	margin: -10% 0% 0% 40%;
}

.tabla{
	display: none;
}

.tabla2{
	display: block;
	height: 93px;
}

.menu{
	height: 100px;

}

.content-menu{
	height: 94px;
}

.img3-0{
	margin: 0% 0% 1% 0%;
	height: 500px;
	width: 100%;
}

.img3-1{
	margin: 0%;
	width: 100%;
	height: 500px;
}

.geo{
	margin: 0% 1% 0% 1%;
	width: 98%;
	height: 400px;
}
}

@media screen and (max-width: 575px) {
body, html {
	/*background-color: transparent;*/
}

.name1{
	margin: 5% 0% 0% 25%;
	font-size: 100%;
}
.name2{
	margin: -6% 0% 0% 25%;
	font-size: 100%;
}

.logo-header{
	margin: -8% 0% 0% 2%;
	width: 20%;
}
.social{
	margin: -21% 0% 0% 71%;
	width: 26%;
}
}

@media screen and (max-width: 511px) {
body, html {
	/*background-color: transparent;*/
}

.logo-header{
	margin: -8% 0% 0% 1%;
	width: 22%;
}

.social{
	margin: -23% 0% 0% 65%;
	width: 29%;
}

.dog{
	height: 400px;
}

.banner{
	height: 47%;
}

.content-banner{
	height: 98%;
}

.img3-0{
	margin: 0% 0% 1% 0%;
	height: 400px;
	width: 100%;
}

.img3-1{
	margin: 0%;
	width: 100%;
	height: 400px;
}
.footer{
	width: 100%;
	height: 220px;
	margin: 3% 0% 0% 0%;
}

.content-footer{
	width: 100%;
	height: 215px;
	margin: 0% 0% 0% 0%;
}

.opt1-footer{
	text-align: center;
}

.opt2-footer{
	text-align: center;
}

.opt3-footer{
	text-align: center;
}

.opt4-footer{
	text-align: center;
}

.footer-info1{
	text-align: center;
}

.footer-info2{
	text-align: center;
}
}

@media screen and (max-width: 500px) {
body, html {
	/*background-color: transparent;*/
}

.name2{
	width: 72%;
}

.opt1{
	margin: 1.5% 2% 0% 5%;
}

.opt2{
	margin: 1.5% 2% 0% 5%;
}

.opt3{
	margin: 1.5% 2% 0% 5%;
}

.opt4{
	margin: 1.5% 2% 0% 5%;
}

.opt5{
	margin: 2% 2% 0% 12%;
}

.opt6{
	margin: 2% 2% 0% 3%;
}

.opt7{
	margin: 3% 2% 0% 10%;
}
}

@media screen and (max-width: 459px) {
body, html {
	/*background-color: transparent;*/
}

.logo-header{
	margin: -8% 0% 0% 1%;
	width: 24%;
}

.name1{
	margin: 5% 0% 0% 27%;
	width: 30%;
}

.name2{
	margin: -8% 0% 0% 27%;
}

.social{
	margin: -27.5% 0% 0% 67%;
	width: 30%;
}

.hotel{
	text-align: center;
}

.titulo1{
	text-align: center;
}

.titulo2{
	text-align: center;
}

.footer-info1{
	margin: 3% 0% 0% 0%;
}

.footer-info2{
	margin: 2% 0% 0% 0%;
}

.footer-info3{
	margin: 8% 0% 0% 0%;
}
}
/*Terminan media queries*/
